
        p{
            color: rgb(180, 200, 111);

        }
        
       nav a {

            color: teal;

        }

        h3 {
            color: palegoldenrod;

        }

        body {

            color: coral;

        }