/* body {

    background-color: crimson;


} */
.barna {

    color: saddlebrown;

}

div {

    border: 1px solid black;


}

/* közvetlen gyerek szelektor */

body p {
    background-color: purple;


}

li.barna+li {   

    background-color: gold;



}
p:first-child{
    font-size: 31px;


}

p:first-of-type{

    color: gray;






}

ol li:nth-child(4){
    font-family:'Courier New', Courier, monospace;



}





td:nth-child(2n+1) {


    background-color: khaki;
}