/* body {

    background-color: rgb(95, 60, 119);

} */

p{
    font-size: 12rem;
    font-style: italic;
}

#p4 {

    font-style: normal;

    font-weight: bold;




}
#p7 {
    font-family: fantasy;



}

#p8 {




}
